<h2>Resource Training Request</h2>
<div class="grid">
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>BAR</h5>
			<textarea rows="5" cols="30" placeholder="Your Message" class="mr-2 mb-7" pInputTextarea></textarea>
			<button pButton pRipple label="Submit" class="mr-2 mb-2"></button>
		</div>
		<div class="card">
			<h5>Ops DBA</h5>
			<textarea rows="5" cols="30" placeholder="Your Message" class="mr-2 mb-7" pInputTextarea></textarea>
			<button pButton pRipple label="Submit" class="mr-2 mb-2"></button>
		</div>
		<div class="card">
			<h5>Perf DBA</h5>
			<textarea rows="5" cols="30" placeholder="Your Message" class="mr-2 mb-7" pInputTextarea></textarea>
			<button pButton pRipple label="Submit" class="mr-2 mb-2"></button>
			
		</div>
		
	</div>
	
</div>	

        	



