<h2>SLA</h2>
<div class="card ">
		<h6>Please Select the options you want to perform:</h6>
		<div class="p-d-flex">
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="SLA Reported" [(ngModel)]="valCheck" (onChange)="GetSelectedBox($event)" id="ny"></p-checkbox>
					<label for="ny">SLA Reported</label>
				</div>
			</div>
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="Response SLA" [(ngModel)]="valCheck"(onChange)="GetSelectedBox($event)" id="sf"></p-checkbox>
					<label for="sf">Response SLA %</label>
					
				</div>
			</div>
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="RES SLA Comment" [(ngModel)]="valCheck"(onChange)="GetSelectedBox($event)" id="sf"></p-checkbox>
					<label for="sf">Res. SLA% Comment</label>
					
				</div>
			</div>	
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="Resoulution SLA" [(ngModel)]="valCheck"(onChange)="GetSelectedBox($event)" id="sf"></p-checkbox>
					<label for="sf">Resoulution SLA%</label>
					
				</div>
			</div>	
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="Resolution Comment" [(ngModel)]="valCheck"(onChange)="GetSelectedBox($event)" id="sf"></p-checkbox>
					<label for="sf">Resol. SLA% Comment</label>
				</div>
			</div>		
		</div>

 
			<div class="Button">
				<button pButton pRipple type="button" (click)="onSubmit()" label="Submit" class="p-button-raised p-button-secondary mr-2 mb-2"></button>
			</div>
			<div *ngIf="isValid">
					<p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>
					<router-outlet ></router-outlet>
			</div>	
</div>
