<div class="col-14 md:col-12">
	<h2>Rotation And Retention</h2>
	<div class="card">
		<h6>Please Select the options you want to perform:</h6>
		<div class="p-d-flex">
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="RR RES" [(ngModel)]="valCheck"  id="ny"></p-checkbox>
					<label for="ny">Resignation</label>
				</div>
			</div>
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="RR OPS" [(ngModel)]="valCheck" id="sf"></p-checkbox>
					<label for="sf">OpsDBA</label>
					
				</div>
			</div>
			<div class="col-12 md:col-4">
				<div class="field-checkbox">
					<p-checkbox name="group1" value="RR PERF" [(ngModel)]="valCheck" id="la"></p-checkbox>
					<label for="la">PerfDBA</label>
				</div>
			</div>
		</div>

		<div class="Button">
			<button pButton pRipple type="button" (click)="onSubmit()" label="Submit" class="p-button-raised p-button-secondary mr-2 mb-2"></button>
		</div>
		
		<div *ngIf="isValid">
			<p-tabMenu styleClass="mb-5" [model]="routeItems" [activeItem]="routeItems[0]">
			</p-tabMenu>
			<router-outlet></router-outlet>
		</div>
		

	</div>
</div>







        	



